$primary: #1a2533;
$secondary: #485fc7;
$black: #363636;
$white: #fff;
$gray-100: #0000001f;
$purple: #7289da;

$spacer-1: 0.25rem;
$spacer-2: 0.5rem;
$spacer-3: $spacer;
$spacer-4: 1.5rem;
$spacer-5: 3rem;
$spacer-6: 4.5rem;
$spacer-7: 6rem;

$font-family-base: 'Poppins Regular', sans-serif;
$font-family-heading: 'Poppins Bold', sans-serif;
$font-family-light: 'Poppins Light', sans-serif;
$font-family-black: 'Poppins Black', sans-serif;

:root {
  --bs-primary: $primary;
  --bs-primary-rgb: 26, 37, 51;
  --bs-secondary: $secondary;
  --bs-secondary-rgb: 72, 95, 199;
  --bs-body-color: $white !important;
  --bs-white: $white;
  --bs-black: $black;
  --bs-heading-color: $black !important;
}

body {
  font-family: $font-family-base !important;
}

a {
  color: $white !important;
  text-decoration: none !important;

  &:hover {
    color: $secondary !important;
    text-decoration: none !important;
  }
}